<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" 
    rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
    crossorigin="anonymous">

    <link rel="stylesheet" href="css/style.css">
    <b><title>Characters</title></b>
</head>
<body>   
    <div
    class="bg-image"
    style="
      background-image: black;
    "> 
  <nav class="navbar navbar-expand-md navbar navbar-dark bg-inverse" style="background-color: rgba(0, 0, 0, 0.9);">
      <div class="container">
          <a href="/views/index.hbs" class=""><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b9/Marvel_Logo.svg/1280px-Marvel_Logo.svg.png" width=100 height=40></a>
          <div id="main-nav" class="collapse navbar-collapse">
              <ul class="navbar-nav ml-auto">
                  <li><a href="/views/register.hbs" class="nav-item nav-link">Register</a></li>
                  <li><a href="/views/login.hbs" class="nav-item nav-link">Login</a></li>
              </ul>
      </div>
    </div>
  </nav>
      
  <div class="container-fluid">
            <h1 class="display-6" style="color: rgb(0, 0, 0); text-align: center;">Characters</h1>

            <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                <div class="card-header">Heroes?</div>
                <div class="card-body text-white">
                  <h5 class="card-title">Heroes and Villains</h5>
                  <p class="card-text">We love heroes (and villains). Enjoy the news.</p>
                </div>
              </div>    
            

        <div class="row container-fluid" id="marvel-row"></div>
        
        <script>
            const characters = {
            render: () => {
            const  urlAPI = 'https://gateway.marvel.com/v1/public/characters?&orderBy=-modified&limit=50&ts=1&apikey=b4a0c72eb92550fcb24136e1db3c4433&hash=55b6f783ffef154f9430e13e417583c5'; 
            const container2 = document.querySelector('#marvel-row');
            let contentHTML = '';

            fetch(urlAPI).then(res => res.json()).then((json) => {
                for(const hero of json.data.results){
                    let urlHero  = hero.urls[0].url;
                    contentHTML += `
                    
                    <div class="card" style="width: 16rem;">
                    <img class="card-img-top " 
                    <a href="${urlHero}" target="_blank">
                    <img src="${hero.thumbnail.path}.${hero.thumbnail.extension}"
                    alt="${hero.title}" class="img-thumbnail" >
                    
                    </a>
                        <div> 
                            <button class="btn btn-primary btn-dark">
                                Like button<span class="glyphicon glyphicon-search"></span>
                            </button>

                            </div>
                        <div class="card-body"> 
                            <h5 class="card-title" style="color: black;">${hero.name}</h5>
                            <p class="card-text">${hero.description}</p>

                        </div>
                    </div>`;
                }
                        container2.innerHTML =contentHTML;
                            })
                    }
        };  
        characters.render();
        </script>   


    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" 
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" 
    crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" 
    crossorigin="anonymous"></script>
    
</body>
</html> 